filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /logs/*.json
    json:
      keys_under_root: true
      add_error_key: true

output.elasticsearch:
  hosts: ["192.168.0.31:9200"]
  username: "${FILEBEAT_USERNAME}"
  password: "${FILEBEAT_PASSWORD}"
